header {
    background-color: $themeColor;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}

h1 {
    font-weight: 200;
}

span {
    font-weight: bold;
}

ul {
    display: inline;
}

li {

}
