header {
    background-color: $themeColor;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    height:100%;
    position: relative
}

h1 {
    display: inline;
    font-weight: bold;
}

span {
    float: left;
    font-weight: bold;
}

nav {
    display: inline;
}

header > nav > ul {
    position: absolute;
    display: inline;
    list-style: none;
    padding: 0;
    top: 0;
    right: 0;
}
li {
    display: inline;

}
