$themeColor: #F3F3F3;
$avatarSize: 25px;
$avatarRadius: 5px;
$borderRadius: 10px;
$octocatMargin: 5px;
$octonumberColor: #999999;
$octocatSize: 300px;
$octocatPadding: 5px;
$octocatBorder: 1px solid $themeColor;
